:root{
    --white : #FFFFFF;
    --gray : #f3f3f3;
    --1 : #cbe5ff;
    --2 : #65a0db;
    --3 : #1976d2;
    --4 :	#2c5aa0;
    --5 : #1e3a5f;
    --blue : var(--3);
    --green : #388e3c;
    --orange : #f57c00;
    --red : #c2185b;

    --success:#28a745;
    --success-hover : #218838;
    --danger : #dc3545;
    --danger-hover : #c82333;

    --black : #000000;
}

.container{
    background-image: url("../resources/banner.jpg");
    height:100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.formContainer{
    height:100vh;
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formBox{
    width: 500px;
    padding: 20px;
    /* background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.form-card{
    margin-bottom:1rem;
}

h1{
    margin-bottom: 20px;
}

.submitButton{
    display:block;
    padding : 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:var(--5);
    color:#ffffff;
    transition-duration: 0.2s;
    border-color: transparent;
    font-size: 1.2rem;
    border-radius: 5px;
}

.submitButton:hover{
    border-color:var(--5);
    background-color:var(--1);
    color:var(--5);
    border-radius: 0px;
}

.inputTextArea{
    height : 6rem !important;
}

.message-container{
    height:100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.message-formBox{
    width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}