.popup-l{
    display:none;
    z-index:99;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width:76rem;
    width:95%;
}

.popup-m{
    display:none;
    z-index:99;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width:50rem;
}

.popup-s{
    display:none;
    z-index:99;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width:30rem;
}